h1{
	text-align: center;
}
.menu-admin li{
	float: left;
}
.menu-admin li:focus{
	border-bottom:1px solid red;
}


/* модерация фотографий */

.tablePhoto{
	border-collapse: collapse;
	margin-left:50px;
}
.tablePhoto th,.tablePhoto td{
	text-align: center;
	padding:10px;
}
.tablePhoto img{
	width:300px;
}
.tablePhoto, .tablePhoto tr,.tablePhoto td, .tablePhoto th{
	border:1px solid black;
}
.add,.delete,.edit{
	cursor:pointer;
}

/* Список всех площадок */

.allCourts{
	border-collapse: collapse;
	margin-left:50px;
	float:left;
	margin-bottom:100px;
}

.allCourts th,.allCourts td{
	text-align: center;
	padding:10px;
}
.allCourts, .allCourts tr,.allCourts td, .allCourts th{
	border:1px solid black;
}


.courtDistrict{
	border-collapse: collapse;
	margin-left:50px;
	float:left;
	margin-bottom:100px;
}

.courtDistrict th,.courtDistrict td{
	text-align: center;
	padding:10px;
}
.courtDistrict, .courtDistrict tr,.courtDistrict td, .courtDistrict th{
	border:1px solid black;
}

.show{
	cursor:pointer;
}


/* Модерация новых площадок */


.tableNewCourt{
	border-collapse: collapse;
	float:left;
	margin-bottom:100px;
	margin-top:50px;
}

.tableNewCourt th,.tableNewCourt td{
	text-align: center;
	padding:10px;
}
.tableNewCourt, .tableNewCourt tr,.tableNewCourt td, .tableNewCourt th{
	border:1px solid black;
}

.h2-black{
	text-align: center;
}
#map{
	padding: 0 !important;
	height: 450px;
}
.group-field{
	margin:10px 0 10px 0;
	height:40px;
}
.group-field input{
	background: #F0F2F2;
}
.group-field select{
	background: #F0F2F2;
	padding:5px 0;
}
.group-field label{
	text-align:left;
}
@media (max-width: 767px) { 
	#map{
		height: 400px;
	}
/*	#gmap0-map-canvas{
		height: 400px !important;
	}*/
}
.court-create button{
	margin:10px 10px 20px 10px;
}