html{
	height: 100%;
}
body{
	height: 100% !important;
	position: relative;
}
#game{
	background-color: #00418C !important;
	color: #ffffff !important;
	opacity: 1 !important;
}
.shadow:hover{
	box-shadow: 0 3px 7px rgba(0,0,0,.28);
}
#small{
	height: 100%;
	padding-right: 0;
	padding-left: 0;
}
.info{
	height: 100%;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	padding-right: 0 !important;
}
.games{
	max-height: 100%;
	text-align: center;
	overflow-y: scroll;
	overflow-x:hidden;
	padding-right: 30px !important;
}
.search{
	margin-top: 85px !important;
	margin-bottom: 1rem !important;
	text-align: left;
}
.box{
	margin-bottom:1rem;
	width: 100%;
}
.top, .people{
	display: block;
}
.top:after,.people:after { content: ""; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; margin: 0; padding: 0; }
.square{
	width: 70%;
	float:left;
	text-align: left;
	margin-top: 15px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
    color: rgba(0,0,0,.87);
    font-size: 1.185rem;
    margin-bottom: 15px;
}
.square:first-letter{
	text-transform: uppercase;
}
.onmap{
	width: 30%;
	float: right;
	text-align: right;
	padding-top: 18px;
	color: rgba(0,0,0,.3);
	font-weight: 500;
	cursor: pointer;
	padding-bottom: 5px;
	margin-bottom: -5px;
}
.onmap:hover{
	color: rgba(0,0,0,.5);
}

.divider{
	width: 100%;
	border-top: 1px dashed rgba(0,0,0,.15);
	margin-bottom: 15px;
}
.people{
	text-align: left;
	margin-bottom: 20px;
}
.count{
	font-weight: 500;
	color: rgba(0,0,0,.74);
}
.scroll{
	width: 100%;
	overflow-x: hidden;
	position: relative;
}
.right{
	position: absolute;
	height: 100%;
	right: 0;
	width: 30px;
	background: linear-gradient(to right,rgba(255,255,255,0) 40%,#fff 100%);
}
.circle{
	overflow-y:hidden;
	width: 140%;
	max-height: 50px;
	white-space: nowrap;
    text-overflow: ellipsis;
}
.man{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background: gray;
	margin-right: 15px;
	display: inline-block;
	float: left;
}
.minus, .plus{
	background: none !important;
	height: 50px !important;
	width: 50px !important;
	text-align: center;
	cursor: pointer;
	-webkit-transition: ease-out 0.2s;
    -moz-transition: ease-out 0.2s;
    -o-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
}
.plus{
	border: 2px solid #0288D1;
}
.minus{
	border: 2px solid #EF5350;
}
.plus:hover {
	background: #0288D1 !important;
}
.minus:hover {
	background: #EF5350 !important;
}
.plus:hover span, .minus:hover span{
	color: white;
}
.plus, .minus span{
	line-height: 48px;
	font-weight: 400;
	font-size: 1.5rem;
	transition-property:color;
	-webkit-transition: ease-out 0.2s;
    -moz-transition: ease-out 0.2s;
    -o-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
}
.plus span{
	color: #0288D1;
}
.minus span{
	color: #D32F2F;
}

/* ЦВЕТА В ЗАВИСИМОСТИ ОТ СПОРТА*/
.football .plus:hover span,  .basketball .plus:hover span{
	color: white !important;
}
.football .description{
	background-color: #57C815 !important;
}
.football .plus{
	border: 2px solid #57C815 !important;
}
.football .plus span{
	color: #57C815 !important;
}
.football .plus:hover {
	background: #57C815 !important;
}
.basketball .description{
	background-color: #FAA225 !important;
}
.basketball .plus{
	border: 2px solid #FAA225 !important;
}
.basketball .plus span{
	color: #FAA225 !important;
}
.basketball .plus:hover {
	background: #FAA225 !important;
}
/*-------------------------------------------------------*/

.description{
	background-color:#0288D1;
	padding: 10px 0px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;

}
.description div{
	display: inline-block;
	text-align: left;
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.description i{
	margin-right: 5px;
}
.big{
	font-weight: 400;
	color: rgb(255,255,255);
	text-transform: capitalize;
}
.small{
	font-size: 12px !important;
	color: rgba(255,255,255,.74);
}
.type{
	width: 25%;
}
.time{

}
.ball{
	margin-right: 0px !important;
}



#map{
	height: 100%;
	padding-left: 0 !important;

}
.footer{
	display: none;
}



@media (max-width: 767px) { 
	.info{
		padding-right: 15px !important;
		overflow-x:hidden;
	}
	#map{
		height: 12rem;
	}

	.games{
		overflow: visible;
		padding: 0 !important;
	}
	::-webkit-scrollbar{
    	width:2px;
	}
}
