html{
	height: 100%;
}
body{
	height: 100% !important;
	position: relative;
}
#small{
	height: 100%;
	padding-right: 0;
	padding-left: 0;
}
.info{
	height: 100%;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	padding-right: 0 !important;
}
.games{
	max-height: 100%;
	text-align: center;
	padding-left: 0 !important;
	overflow: scroll;
}
.search{
	margin-top: 85px !important;
	margin-bottom: 1rem !important;

	text-align: left;
}
.search a{
	float: right;
}
.game{
	margin: 1rem 0;
	height: 7rem;
	background: rgb(255,255,255);
	border-radius: 3px;
	position: relative;
	border: 1px solid rgba(0,0,15,.1);
}
.time{
	width: 7rem;
	height: 100%;
	max-height: 7rem;
	float: right;
	background: orange;
	display:table;
	color: white;
	background-size: cover;
	background-image: url(../img/court_img_0.jpg);
	box-shadow: 0 8rem 8rem rgba(0,0,0,.5) inset;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.align{
	vertical-align: middle;
	height: 100%;
	display: table-cell;
}
.date{
	font-size: 1.8125rem;
}
.adress{
	font-weight: 500;
	font-size: 1.125rem;
	margin: 0px;
	position: absolute;
	left: 12px;
	top: 0.5rem;
	width: 65%;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}
.sport{
	position: absolute;
	left: 15px;
	top: 2.3rem;
	font-size: 0.8125rem;
}
.fa-futbol-o{
	position: absolute;
	left: 100px;
		top: 2.3rem;
}
.buttons{
	position: absolute;
	bottom: 0.5rem;
	left: 15px;
	margin-bottom: 0;
}
.mid-green-btn, .mid-blue-btn{
	padding: 6px 20px !important;
	font-size: 0.8125rem;
}
.mid-green-btn span{
	font-weight: 500;
}
#map{
	height: 100%;
	padding-left: 0 !important;

}
.footer{
	display: none;
}
#game{
	background-color: #00418C !important;
	color: #ffffff !important;
	opacity: 1 !important;
}
.hideXS{
	display: inline-block !important;
}
.showXS{
	display: none !important;
}


@media (max-width: 767px) { 
	.info{
		padding-right: 15px !important;
	}
	#map{
		display: none;
	}
	.games {
    padding-left: 0 !important;
    padding-right: 0px !important;
    max-height: none;
    overflow: auto;
	}
	.hideXS{
		display: none !important;
	}
	.showXS{
		display: inline-block !important;
	}
	.mid-green-btn, .mid-blue-btn{
		padding: 6px 17px !important;
	}
	.adress{
		width: 65%;
	}
}
