body, html{
	height: 100%;
	overflow: hidden;
}
body{
	background-image: url(/img/sign1.jpg);
	background-size: cover;
}
#menu{
	display: none;
}
.tabs{
	width: 95% !important;
	background-color: rgba(255,255,255,.9) !important;
}
.help-block{
	margin-top: 0 !important;
	margin-bottom: 0px !important;
    font-size: 10px !important;
    text-align: left !important;
}
input{
	background: none;
}
.footer a {
    color: rgba(255,255,255,0.5) !important;
}
.footer {
	color: rgba(255,255,255,0.5) !important;
}
.footer a:hover {
	    color: rgba(255,255,255,1) !important;
}