.top{
	background:rgba(0,0,0,0.3);
	background-image: url(/img/square.jpg);
	background-size: cover;
	box-shadow: 0 70px 120px 0px rgba(0, 0, 0, 0.33) inset;	
	padding: 0 !important;
	margin-bottom: 20px;
}

#map{
	margin-top: 25px;
	margin-bottom: -20px;
	height: 170px;
	border-radius: 3px;
	border: 4px solid #fff;
}
.wrapper {
	padding: 0 !important;
	margin-top: 25px;
	margin-bottom: -20px;
	position: relative;
	height: 170px;
}
.name {
	font-size: 30px;
	color: white;
	margin-top: 40px;
	font-weight: 500;
}
.name:hover .report{
	opacity: 0.85;
}
.report{
	opacity: .6;
	cursor: pointer;
	padding-left: 5px; 
}
.name:first-letter{
	text-transform: uppercase;
}
.tag, .tag:visited, .tag:active {
	color: rgba(255,255,255,0.85);
	font-size: 16px;
	border-bottom: 1px rgba(255,255,255,0.7) solid;
	margin-right: 10px;
	text-decoration: none;
}
.tag:hover{
	color: rgb(255,255,255);
	text-decoration: none;
	border-bottom: 1px rgba(255,255,255,1) solid;
}
.absolute{
	position: absolute;
	bottom: 0;
	left: 0;
	padding-right: 0px !important;
}
.buttons{
	font-weight: 500;
	font-size: 13px;
	display: table;

	background: #fff;
	border-radius: 3px;
	height: 50px;
}
.menu{
	vertical-align: middle;
	display: table-cell;
}
.menu div {
	display: inline-block;
	color: rgba(0,0,0,.7);
}
.tab:hover {
	color: rgba(0,0,0.87);
	text-decoration: underline;
}
.selected{
	color: #337ab7 !important;
}
.item{
	border-right: 1px solid rgba(0,0,0,0.12);
	padding: 0px 15px;
	cursor: pointer;
	margin-top: 2px;

}
#bookmark i, #like i {
	color: #337ab7;
	opacity: .7; 
}
#bookmark:hover i, #like:hover i{
	opacity: 1;
}
.item:first-child{
	padding-left: 0px !important;
}
.social{
	float: right;
	margin-top: 2px;
}
.fa-facebook{
	padding-left: 7px;
	padding-right: 5px;
}
.fa-vk{
	line-height: 0 !important;
	padding: 5px 10px 5px 6px;
	border-right: 1px solid rgba(0,0,0,0.12);
}


.header{
	height: 50px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color: #eef7e9;
	border-bottom: 1px solid rgba(0,54,62,.1);
	text-align: left;
	padding-left: 15px;
	display: table;
	width: 100%;
	font-size: 14px;
}
.games{
	margin-bottom: 30px;
}
.game{
	text-align: left;
	padding-left: 30px;
	padding-right: 15px;
}
.game:hover{
	background-color: #f7fcfa;
}
.gameTop{
	position: relative;
	padding-top: 10px;
}
.number{
	position: absolute;
	left: -15px;
	bottom: 2px;
	font-size: 12px;
	color: rgba(0,0,0,.54);
}
.time{
	font-size: 18px;
	font-weight: 500;
	color: rgba(0,0,0,.87);
}
.people{
	font-size: 12px;
	color: rgba(0,0,0,.54);
	margin-top: 7px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0,0,0,.13);
}
.people p{
	margin-bottom: 7px !important;
}
.scroll{
	width: 100%;
	overflow-x: hidden;
	position: relative;
}
.right{
	position: absolute;
	height: 100%;
	right: 0;
	width: 30px;
	background: linear-gradient(to right,rgba(255,255,255,0) 40%,#fff 100%);
}
.circle{
	overflow-y:hidden;
	width: 140%;
	max-height: 40px;
	white-space: nowrap;
    text-overflow: ellipsis;
}

.man{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background: gray;
	margin-right: 10px;
	display: inline-block;
	float: left;
}

.minus, .plus{
	background: none !important;
	height: 40px !important;
	width: 40px !important;
	text-align: center;
	cursor: pointer;
	-webkit-transition: ease-out 0.2s;
    -moz-transition: ease-out 0.2s;
    -o-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
}
.plus{
	border: 2px solid #3F51B5;
}
.minus{
	border: 2px solid #EF5350;
}
.plus:hover {
	background: #3F51B5 !important;
}
.minus:hover {
	background: #EF5350 !important;
}
.plus:hover span, .minus:hover span{
	color: white;
}
.plus, .minus span{
	line-height: 38px;
	font-weight: 400;
	font-size: 1.5rem;
	transition-property:color;
	-webkit-transition: ease-out 0.2s;
    -moz-transition: ease-out 0.2s;
    -o-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
}
.plus span{
	color: #3F51B5;
}
.minus span{
	color: #D32F2F;
}
.bottom {
	font-size: 12px;
	padding: 9px 0px;
}
.bottom div{
	display: inline-block;
}
.bottom span{
	margin-left: 4px;
	margin-right: 9px;
	color: #3F51B5;
	font-weight: 400;
}
.arrow{
	margin-top: -0.25rem;
	margin-left: 0.4375rem;
	opacity: 0.7;
}
.description-text{
	color: rgb(255,255,255);
	margin-top: 0.5rem;
	margin-bottom:  1rem;
	max-width: 500px;
	line-height: 1.7;
	font-size: 0.9rem;
	background: rgba(0,0,0,0.4);
	padding: 1rem;
}

.buttons button{
	margin-left: 1.35rem;
	z-index: 1;
	position: relative;
	
}
.buttons a{
	position: relative;
	z-index: 1;
}
.buttons button:first-child{
	margin-left: 0;
}

.img{
	margin-right: 5px;
}
.chat{
	height: 300px;
	z-index: 2;
	padding: 0 !important;
}


.h2-box{
	margin-top:2.9rem;
	font-size: 1.5625rem;
	font-weight: 400;
	margin-bottom: -1.25rem; 
}
.games{
	padding: 0 !important;
}

.box{
	margin-top: 30px;
}

.games .mid-green-btn{
	margin-top: 15px;
	padding:9px 22px !important;
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 12px;
}
.clear{
	clear: both;
}

.games .mid-blue-btn{
	margin-left: 20px;
	padding: 0.4rem 1.3rem;
}


#tab2{
	padding-right: 0px;
}
#tab2 p{
	margin: 0 !important;
	font-size: 14px !important;
}
.description{
	padding-right: 30px !important;
}
h3{
	font-size: 25px !important;
	font-weight: 300 !important;
	margin-top: 30px !important;
	margin-bottom: 20px !important;
}
.photoName	{
	margin-bottom: 10px !important
}
.add, .red{
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	margin-top: 10px;
	color: #337ab7;
	display: block;
}
.more{
	text-align: center;
	font-weight: 400;
	cursor: pointer;
	margin-bottom: 20px;
}	
.add{
	float: right;
}
.add:hover, .red:hover, .more:hover{
	color: #23527c;
}
.add i, .red i{
	margin-right: 5px;
}
.photos{
	padding: 0 !important;
	padding-left: 2px !important;
}
.photo{
	height: 170px;
	padding-top: 15px;
	padding-bottom: 15px;
}


label{
	display: block;
	text-align: center;
}
.modal-sm{
	width: 350px;
}
.game-create{
	padding: 0 1.375rem;
	padding-bottom: 1rem;
	text-align: center;
	position: relative;
}
.close {
	position: absolute;
	top: 7px;
	right: 8px;
	color: rgba(0,0,0,0.64);
}
.fa-heart-o, .fa-heart{
	margin-right: 6px;
}

.login{
	margin-top: 1.8rem;
	margin-bottom: 0.3rem;
	color: #B0BEC5;
}
.login:hover{
	color: #5AA1C5;
}
.close:hover{
	color: rgba(0,0,0,0.87);
}
.ok{
	color: #4CAF50;
	margin-top: 1rem;
}
.game-create .h2-black{
	text-align: center;
	color: rgba(0,0,0,0.87);
	border-bottom: 1px rgba(0,0,0,0.1) solid;
	margin-top: 1rem;
	padding-bottom: 1rem;
}
#warning{
	margin: 1rem 0;
	margin-bottom: 0.5rem;
	font-size: 1.125rem;
}
.little{
	color: rgba(0,0,0,0.5);
	margin-bottom: 0.35rem;
	margin-top: 0.85rem;
	text-align: left;
}
.btn{
	width: 100%;
	padding:9px 20px;
	padding-bottom: 13px;
	background: #eeeeee;
}

.input{
	font-size: 1rem;
	padding: 11px 20px !important;
}
.sport{
	width: 100%;
}
.align-right{
	text-align: right;
}
#align-right{
	margin: 0 !important;
}
.align-right .input:last-child{
	padding: 9px 20px;
}
.date{
	width: 100% !important;
	text-align: center;
}
.date-2{
	width: 45% !important;
	text-align: center;
}

.date-2:first-child{
	margin-left: 0 !important;
	float: left !important;
	margin-right: 5%;
}
.ball{
	color: rgba(0,0,0,0.74);
	text-align: center;
	margin-bottom: 1.25rem;
	font-size: 1rem;
	margin-top: 0.5rem;
}
.need{
	margin-right: 0.5rem;
}
#game-create-form{
	text-align: center;
}
.form-control {
    height: auto !important;
    padding: 12px 20px !important;
    color: rgba(0,0,0,0.74) !important;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1) inset !important;
    background: #eeeeee !important;
    border-radius: 5px !important;
    border: none !important;
}
input[type="checkbox"] {
background: url(../../img/checkbox.png); /* Переключатель выключен */
height: 20px; /* Высота картинки */
width: 20px; /* Ширина картинки */
-webkit-appearance: none; /* Прячем чекбокс */
cursor: pointer; /* Курсор в виде руки */
margin-bottom: -4px;
}
input[type="checkbox"]:checked {
    background: url(../../img/checked.png); /* Переключатель включен */
   }

.center{
	text-align: center;
}
.game-create .mid-green-btn{
	padding-left: 0.75rem 4rem;
}
@media (min-width: 1200px) { 

}
@media (min-width: 992px) and (max-width: 1199px) {
	.photo{
		height: 150px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	
    h3 {
    	font-size: 20px !important;
    }
    	.photo{
		height: 155px;
	}
	.chatWrap{
		padding-right: 30px !important;
	}
	.wrapper{
		height: 70px;
	}
}
@media (max-width: 767px) {
    h3 {
    	font-size: 20px !important;
    }
    .add{
    	margin-top: 5px;
    }
	.container{
		padding: 0 !important;
	}
	.photos{
		padding: 0 !important;
	}
	.box{
		margin-bottom: 2.5rem;
	}
	.h2-box{
		margin-bottom: -1.25rem;
		margin-top:0;
	}
	.modal-sm{
		width: auto;
	}
	.img{
	margin-right: 0px;
	}
	.chat{
		height: 270px;
	}
	.chatWrap, .gamesWrap{
		padding:0 10px !important;
	}
	.photo{
		height: 160px;
	}
	.games{
		margin-top: 0px !important;
	}
	.item{
		padding-left: 0px;
		border:none;
	}
	.absolute{
		padding-left: 0 !important;
	}
	.buttons .fa-vk, .fa-facebook{
		padding-right: 3px;
		border: none;
	}
	.buttons{
		text-align: center;
	}
	.wrapper{
		height: 70px;
	}
	#map{
		height: 220px;
	}
}