body{
	min-height: 100%;
	padding-top: 0 !important;
	background: white;
}
#menu{
	position: relative !important;
	margin-top: 0 !important;
}
#menu, #menu ul.main-menu a li:hover{
	background: rgba(0,0,0,0);
	box-shadow: none;
}
.top{
	max-height: 100%;
	background-image: url(../../img/basketball1.jpg);
	background-size: cover;
	text-align: center !important;
	box-shadow: 100px 450px 150px rgba(0,0,0,0.3) inset;
}
.big{
	font-size: 3rem;
	margin-bottom: 0;
	margin-top: 9rem;
}
.text{
	font-size: 1.5rem;
	margin-top: 1rem;
	color: rgb(255,255,255);
	max-width: 800px;
	display: inline-block;
	line-height: 1.6;
	padding: 0 1rem;
	font-weight: 300;

}
form{
	margin-bottom: 13rem;
	text-align: center;
	padding: 0 0;
	width: 100%;
	float: left;
	margin-top: -1rem;
}
.search{
	width: 28% !important;
	background: white;
	margin-top: 2.5rem;
	margin-bottom: 1.5rem;
}
.search:first-child{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
form select{
	text-indent: 15px;
	padding:15px 0;
	float:left;
	border: 1px solid rgba(0,0,0,0.1);
}
#district_type{
	border-left: none !important;
	border-right: none !important;
}
.top{
	position: relative;
}
i{
	color: white;
	position: absolute;
	left: 48%;
	bottom: 2rem;
	opacity: .7;
}
i:hover{
	opacity: 1;
}

.mid-green-btn{
	background:#00d12d !important;
	border-radius: 0;
	padding: 15px 0 !important;
	padding-bottom: 16px !important;
	float:left;
	width: 16% !important;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.mid-green-btn:hover{
	background: #00C32A !important;
}
.mid-green-btn:active{
	background: #00B427 !important;
}


.mid{
	text-align: center;
}
.mid .h1-black{
	margin: 2rem ;
}
.kv-is{
	font-size: 1.125rem;
	color: rgba(0,0,0,0.87);
	margin: 1rem 0;
	font-weight: 500;
}
.kv-is p{
	margin: 1.5rem 0;
}
.kv-is:last-child{
	margin-bottom: 2rem;
}

.bg{
	text-align: center;
	background:url('../img/bg-join.png');
	background-repeat:  repeat;
}
.bg .h1-white{
	margin-top: 2.5rem;
	margin-bottom:1.5rem;
}
.big-green-btn{
	margin-top: 1.5rem;
	margin-bottom:2.5rem;
	display: inline-block;
}

@media (max-width: 767px) {
	.big{
		margin-top: 3rem;
	}
	form{
		margin-bottom: 6rem;
	}
	.hello{
		display: block;
	}
	.search{
		margin: 0 !important;
		font-size: 14px;
	}
	#city_type{
		border-radius: 0!important;
	}
	#city_type, #district_type{
		width: 50% !important;
	}
	#sport_type{
		width: 100% !important;
		border-top: none !important;
	}
	form{
		padding: 0 !important;
		margin-top: 1.2rem !important;

	}
	.mid-green-btn{
		width: 50% !important;
		margin-top: 1.5rem !important;
		border-radius: 5px !important;
		float: initial;
	}

}
